body {
    background-color: black;
}

#enter {
    height: 100vh;
    z-index: -1;
    background-image: url("https://images.unsplash.com/photo-1526738549149-8e07eca6c147?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header.center {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.landingScroll {
    position: absolute;
    bottom: 60px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
}

#carrot {
    background-color: transparent;
    color: red;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.landingScroll #carrot.material-icons {
    margin-top: 20px;
    display: block;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.landingTitle.red-text {
    font-size: 50px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.landingHeader.white-text{
font-weight: bolder;
font-family: 'Times New Roman', Times, serif;
}

.landingText.white-text{
    font-family: 'Times New Roman', Times, serif;
}