.parallax-container{
  height: 500px;
}


.page-footer{
  background: white;
}

.grey-text.text-darken-3 {
  color: white !important;
  font-size: x-large;
  margin-top: 50px;
  text-align: right;
}

.portfolio-header{
  font-size: 4rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
    text-align: center;
}

.portfolio-tag{
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-content {
  min-height: 240px;
}

.card-content.white-text{
  background-color: white;
  text-align: center;
  font-size: large;
  position: relative;
}

.githubIcon {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.waves-effect.waves-light.btn{
  background-color: red;
  position: bottom;
}

.material-icons{
  background-color: black;
  color: white;
  background-position: center;
}



h4{
  color: black;
  text-align: center;
}

p{
  color: black;
  text-align: center;
}

.portfolio-tag{
  color: white!important;
}


.footerText{
  text-align: center;
}

.footer-copyright.black-text{
  position: sticky;
}

.col.s12.m12{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.card{
  margin-bottom: 0;
}

.circle.responsive-img.z-depth-5{
  margin-top: 70px;
}